Bact_demux_map_files/
Fung_demux_map_files/
Manuscript/
.RData
.Rhistory
Bact_HPCC_out/Pedro_run/
Bact_HPCC_out/Raw_qual_files/
Fung_HPCC_out/Pedro_run/
Fung_HPCC_out/Raw_qual_file/
R_files/
R_code/old_code/
.Rproj.user/
Bact_HPCC_out/
Fung_HPCC_out/
ABIOTIC_data/
Publish_data/

