
## R Environment files that are not need for analyses
.RData
.Rhistory
.Rproj.user/

## Folders with data that is available on osf or is not needed for anlayses
Publish_data/
Bact_demux_map_files/
Fung_demux_map_files/
Bact_HPCC_out/
Fung_HPCC_out/
ABIOTIC_data/

## Folder with mock communitiy analyses that were beyond this manuscript
Bacterial_mock/ 
Fungal_mock/

## Folder with files that were created during analyses but are not necessary for the paper
R_files/

## Subfolders of R_code where I keep past versions of code and test code
R_code/old_code/
R_code/R_functions/
R_code/old_code/
R_code/Bell-Dereske_etal_FungiBactSwitchgrass/

## Folder with drafts of my manuscript
Manuscript/